<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Codeforces | CAPTCHA</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .captcha {
            width: fit-content;
            padding: 1rem;
            margin: 2rem;
            display: block;
            border: gray solid 2px;
            border-radius: 10px;
        }

        .captcha > img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <div class="captcha">
        <img src="data:image/png;base64, {captcha}" alt="captcha"/>
        <form method="get">
            <label for="captcha">Enter CAPTCHA: </label>
            <input type="number" id="captcha" name="captcha">
        </form>
    </div>
</body>
</html>