main > .messages {
    padding: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

main > .messages > li {
    padding: 0.5rem 0.2rem;
    margin: 0.5rem 0;
    border: black solid 1px;
    border-radius: 5px;
}

main > .messages > li:nth-child(odd) {
    background: #f4f4f4;
}

main > .messages > li {
    list-style-type: none;
}

main > .messages-auth-form, .messages-add-form {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}